In [34]:
from random import shuffle
import nltk
from nltk.corpus import twitter_samples
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import pandas as pd

# Set display options
pd.set_option("display.max_colwidth", None)
pd.set_option("display.max_columns", None)

In [7]:
schema = {
    "created_at": "object",
    "tweet_id": "int64",
    "tweet": "object",
    "retweets": "int16"
}

In [23]:
tweets_df = pd.read_csv("./data/raw/standard_bank_tweets.csv", header=0, dtype=schema)
tweets_df.head(5)

,created_at,tweet_id,tweet,retweets
0,2021/07/11 15:27,1414250000000000000,"The last time they were this excited for anything, Karabo on Generations recovered from blindness and TKZee was perâ€¦ https://t.co/dyL42bbkto",0
1,2021/07/11 14:57,1414240000000000000,@Nazomagenge2 Hawu ngasekhaya kubi. This Standard bank ATM must be new ngoba angiyazi,0
2,2021/07/11 14:41,1414230000000000000,@keneuoe_ I read this as Sexually Transmitted Disease Bank ðŸ˜£ my head took me so long to remember you are talking aâ€¦ https://t.co/aqeddMnXK6,0
3,2021/07/11 14:02,1414220000000000000,RT @Sandton_News: The Standard Bank Jazz Festival Makhanda is defined by an exciting programme of world-class jazz musicians performed in aâ€¦,1
4,2021/07/11 14:00,1414220000000000000,The Standard Bank Jazz Festival Makhanda is defined by an exciting programme of world-class jazz musicians performeâ€¦ https://t.co/Fa4y9b73iT,1

In [12]:
sia = SentimentIntensityAnalyzer()

In [24]:
# Clean links from the tweet column
tweets_df['tweet'] = tweets_df['tweet'].str.replace("://", "//")
tweets_df.head(5)

,created_at,tweet_id,tweet,retweets
0,2021/07/11 15:27,1414250000000000000,"The last time they were this excited for anything, Karabo on Generations recovered from blindness and TKZee was perâ€¦ https//t.co/dyL42bbkto",0
1,2021/07/11 14:57,1414240000000000000,@Nazomagenge2 Hawu ngasekhaya kubi. This Standard bank ATM must be new ngoba angiyazi,0
2,2021/07/11 14:41,1414230000000000000,@keneuoe_ I read this as Sexually Transmitted Disease Bank ðŸ˜£ my head took me so long to remember you are talking aâ€¦ https//t.co/aqeddMnXK6,0
3,2021/07/11 14:02,1414220000000000000,RT @Sandton_News: The Standard Bank Jazz Festival Makhanda is defined by an exciting programme of world-class jazz musicians performed in aâ€¦,1
4,2021/07/11 14:00,1414220000000000000,The Standard Bank Jazz Festival Makhanda is defined by an exciting programme of world-class jazz musicians performeâ€¦ https//t.co/Fa4y9b73iT,1

In [26]:
tweets_df['sentiment_scores'] = tweets_df['tweet'].apply(lambda tweet: sia.polarity_scores(tweet))
tweets_df.head(10)

,created_at,tweet_id,tweet,retweets,sentiment_scores
0,2021/07/11 15:27,1414250000000000000,"The last time they were this excited for anything, Karabo on Generations recovered from blindness and TKZee was perâ€¦ https//t.co/dyL42bbkto",0,"{'neg': 0.0, 'neu': 0.874, 'pos': 0.126, 'compound': 0.4118}"
1,2021/07/11 14:57,1414240000000000000,@Nazomagenge2 Hawu ngasekhaya kubi. This Standard bank ATM must be new ngoba angiyazi,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}"
2,2021/07/11 14:41,1414230000000000000,@keneuoe_ I read this as Sexually Transmitted Disease Bank ðŸ˜£ my head took me so long to remember you are talking aâ€¦ https//t.co/aqeddMnXK6,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}"
3,2021/07/11 14:02,1414220000000000000,RT @Sandton_News: The Standard Bank Jazz Festival Makhanda is defined by an exciting programme of world-class jazz musicians performed in aâ€¦,1,"{'neg': 0.0, 'neu': 0.748, 'pos': 0.252, 'compound': 0.7506}"
4,2021/07/11 14:00,1414220000000000000,The Standard Bank Jazz Festival Makhanda is defined by an exciting programme of world-class jazz musicians performeâ€¦ https//t.co/Fa4y9b73iT,1,"{'neg': 0.0, 'neu': 0.714, 'pos': 0.286, 'compound': 0.7506}"
5,2021/07/11 12:55,1414210000000000000,@cryptomanran I got a message from Standard bank . Saying no Crypto Or Trading payment will be excepted by Std bnk group.,0,"{'neg': 0.109, 'neu': 0.891, 'pos': 0.0, 'compound': -0.296}"
6,2021/07/11 12:18,1414200000000000000,@StandardBankZA The nearest atm is by the garage 2km away but how can a shopping center not have standard bank atm,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}"
7,2021/07/11 12:10,1414200000000000000,"RT @StandardBankArt: For @shaunjohannes, playing in the Standard Bank @youthjazz Festival was a defining moment in his early years. Enjoy aâ€¦",4,"{'neg': 0.0, 'neu': 0.675, 'pos': 0.325, 'compound': 0.802}"
8,2021/07/11 12:08,1414190000000000000,"RT @StandardBankArt: For @shaunjohannes, playing in the Standard Bank @youthjazz Festival was a defining moment in his early years. Enjoy aâ€¦",4,"{'neg': 0.0, 'neu': 0.675, 'pos': 0.325, 'compound': 0.802}"
9,2021/07/11 12:08,1414190000000000000,RT @StandardBankArt: Accomplished pianist @nduduzo_m is looking forward to curating music that his protÃ©gÃ©s in the Standard Bank @youthjazzâ€¦,4,"{'neg': 0.0, 'neu': 0.861, 'pos': 0.139, 'compound': 0.4404}"

In [30]:
tweets_df['compound_sentiment'] = tweets_df['sentiment_scores'].apply(lambda scores: scores['compound'])
tweets_df.tail(20)

,created_at,tweet_id,tweet,retweets,sentiment_scores,compound_sentiment
58,2021/07/10 11:30,1413820000000000000,"How to Open or Register @StandardBankZA Online Banking. Before you can open the Standard bank online banking, you fâ€¦ https//t.co/sj31XRCfJG",0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}",0.0000
59,2021/07/10 11:08,1413820000000000000,"RT @StandardBankArt: From 8 July, Standard Bank Jazz Festival Online brings you world-class performances from your favourite artists. As yoâ€¦",13,"{'neg': 0.0, 'neu': 0.849, 'pos': 0.151, 'compound': 0.4939}",0.4939
60,2021/07/10 11:02,1413820000000000000,"@junior_Muleya @FNBSA Absa, Nedbank and standard bank offered me the bond. I choose absa cos they had better rate.",0,"{'neg': 0.0, 'neu': 0.854, 'pos': 0.146, 'compound': 0.4404}",0.4404
61,2021/07/10 11:00,1413820000000000000,"Standard Bank cardholders qualify for a discount of 20 per cent when using a valid Standard Bank debit, cheque or câ€¦ https//t.co/79BiGW45kF",0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}",0.0000
62,2021/07/10 10:47,1413810000000000000,"RT @StandardBankArt: From the uplifting sounds of @Miss_LIRA to the socially conscious music from the @jitsvinger1 Trio, the Standard Bankâ€¦",9,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}",0.0000
63,2021/07/10 10:47,1413810000000000000,RT @StandardBankArt: .@dumzamaswana uses his impressive baritone and emotive song writing to create genre-defying music. Book now to watchâ€¦,11,"{'neg': 0.0, 'neu': 0.759, 'pos': 0.241, 'compound': 0.6597}",0.6597
64,2021/07/10 10:38,1413810000000000000,@QSD619 @uYesuKrestu @StandardBankZA @CapitecBankSA With Standard bank itâ€™s R10 for deposits of less then R3k. Then R50 for over R3k,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}",0.0000
65,2021/07/10 10:22,1413810000000000000,"@haemusic_ Yes and because of that I cannot open a bank account at FNB, Absa, Nedbank, standard bank and African baâ€¦ https//t.co/hqy6SfJ7RC",1,"{'neg': 0.0, 'neu': 0.876, 'pos': 0.124, 'compound': 0.4019}",0.4019
66,2021/07/10 10:21,1413810000000000000,"RT @StandardBankArt: From the uplifting sounds of @Miss_LIRA to the socially conscious music from the @jitsvinger1 Trio, the Standard Bankâ€¦",9,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}",0.0000
67,2021/07/10 10:12,1413800000000000000,RT @StandardBankArt: .@dumzamaswana uses his impressive baritone and emotive song writing to create genre-defying music. Book now to watchâ€¦,11,"{'neg': 0.0, 'neu': 0.759, 'pos': 0.241, 'compound': 0.6597}",0.6597
68,2021/07/10 10:07,1413800000000000000,RT @StandardBankArt: .@dumzamaswana uses his impressive baritone and emotive song writing to create genre-defying music. Book now to watchâ€¦,11,"{'neg': 0.0, 'neu': 0.759, 'pos': 0.241, 'compound': 0.6597}",0.6597
69,2021/07/10 10:04,1413800000000000000,"RT @StandardBankArt: From the uplifting sounds of @Miss_LIRA to the socially conscious music from the @jitsvinger1 Trio, the Standard Bankâ€¦",9,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}",0.0000
70,2021/07/10 10:00,1413800000000000000,"From the uplifting sounds of @Miss_LIRA to the socially conscious music from the @jitsvinger1 Trio, the Standard Baâ€¦ https//t.co/m1NhCwSiC8",9,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}",0.0000
71,2021/07/10 09:12,1413790000000000000,@Beastxa @livhuwani @Mxonah_ @FNBSA I disagree.... Standard bank is the best for black people\n My mom hot her 1st bâ€¦ https//t.co/DNs8jrotCi,0,"{'neg': 0.0, 'neu': 0.819, 'pos': 0.181, 'compound': 0.6369}",0.6369
72,2021/07/10 08:59,1413780000000000000,@SHEIN_official I'm from Lesotho ðŸ‡±ðŸ‡¸which bank can I use to pay? FNB or standard bank,0,"{'neg': 0.097, 'neu': 0.903, 'pos': 0.0, 'compound': -0.1027}",-0.1027
73,2021/07/10 08:50,1413780000000000000,@uYesuKrestu Standard Bank R10,1,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}",0.0000
74,2021/07/10 08:44,1413780000000000000,@Rbjacobs @Mxonah_ But you guys always decline our home loans while weâ€™ve been loyal for years. Then Nedbank and Standard bank come through!,0,"{'neg': 0.0, 'neu': 0.832, 'pos': 0.168, 'compound': 0.6643}",0.6643
75,2021/07/10 08:34,1413780000000000000,"@StandardBankZA @hirwa2014 One thing about Standard bank, they will maximize the moment. Love it for themðŸ‘Œ",0,"{'neg': 0.0, 'neu': 0.781, 'pos': 0.219, 'compound': 0.6369}",0.6369
76,2021/07/10 07:49,1413770000000000000,"@Tu_Tumii +-R700, ke tshela ko Caltex, please send the money to my standard bank account so I can earn #Ucount rewaâ€¦ https//t.co/CQbyAVVPo4",0,"{'neg': 0.0, 'neu': 0.897, 'pos': 0.103, 'compound': 0.3182}",0.3182
77,2021/07/10 07:36,1413760000000000000,10109660305\nSiphesihle Sibiya\nStandard bank,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}",0.0000

In [33]:
# Let's look at negative tweets
tweets_df[tweets_df['compound_sentiment'] < 0].head(5)

,created_at,tweet_id,tweet,retweets,sentiment_scores,compound_sentiment
5,2021/07/11 12:55,1414210000000000000,@cryptomanran I got a message from Standard bank . Saying no Crypto Or Trading payment will be excepted by Std bnk group.,0,"{'neg': 0.109, 'neu': 0.891, 'pos': 0.0, 'compound': -0.296}",-0.2960
26,2021/07/11 08:12,1414140000000000000,@Mxonah_ @Tsigo9 @FNBSA All banks are the same shame . I bank with @Nedbank and they declined me for a home loan thâ€¦ https//t.co/juEGdjXrUR,0,"{'neg': 0.134, 'neu': 0.866, 'pos': 0.0, 'compound': -0.4767}",-0.4767
39,2021/07/10 16:46,1413900000000000000,FNB and Standard Bank are cancer. Avoid like the plague! https//t.co/tUKPRvsj99,0,"{'neg': 0.396, 'neu': 0.46, 'pos': 0.144, 'compound': -0.6588}",-0.6588
42,2021/07/10 16:01,1413890000000000000,"@Riaan256 Most importantly, we distance ourselves from global terrorists like the IMF and the World Bank. We createâ€¦ https//t.co/qJExkz6wsa",0,"{'neg': 0.163, 'neu': 0.635, 'pos': 0.202, 'compound': -0.0018}",-0.0018
57,2021/07/10 11:57,1413830000000000000,STANDARD BANK PAY MY COUSIN'S FUNERAL POLICY MONEY OUT.\n\nHE PAID IT FOR 15YEARS...YOUR PEOPLE ARE GIVING HIM THE RUâ€¦ https//t.co/MjFzhCj3l6,0,"{'neg': 0.202, 'neu': 0.679, 'pos': 0.118, 'compound': -0.3034}",-0.3034

In [41]:
tweets_df[tweets_df['compound_sentiment'] < 0]

,created_at,tweet_id,tweet,retweets,sentiment_scores,compound_sentiment
5,2021/07/11 12:55,1414210000000000000,@cryptomanran I got a message from Standard bank . Saying no Crypto Or Trading payment will be excepted by Std bnk group.,0,"{'neg': 0.109, 'neu': 0.891, 'pos': 0.0, 'compound': -0.296}",-0.2960
26,2021/07/11 08:12,1414140000000000000,@Mxonah_ @Tsigo9 @FNBSA All banks are the same shame . I bank with @Nedbank and they declined me for a home loan thâ€¦ https//t.co/juEGdjXrUR,0,"{'neg': 0.134, 'neu': 0.866, 'pos': 0.0, 'compound': -0.4767}",-0.4767
39,2021/07/10 16:46,1413900000000000000,FNB and Standard Bank are cancer. Avoid like the plague! https//t.co/tUKPRvsj99,0,"{'neg': 0.396, 'neu': 0.46, 'pos': 0.144, 'compound': -0.6588}",-0.6588
42,2021/07/10 16:01,1413890000000000000,"@Riaan256 Most importantly, we distance ourselves from global terrorists like the IMF and the World Bank. We createâ€¦ https//t.co/qJExkz6wsa",0,"{'neg': 0.163, 'neu': 0.635, 'pos': 0.202, 'compound': -0.0018}",-0.0018
57,2021/07/10 11:57,1413830000000000000,STANDARD BANK PAY MY COUSIN'S FUNERAL POLICY MONEY OUT.\n\nHE PAID IT FOR 15YEARS...YOUR PEOPLE ARE GIVING HIM THE RUâ€¦ https//t.co/MjFzhCj3l6,0,"{'neg': 0.202, 'neu': 0.679, 'pos': 0.118, 'compound': -0.3034}",-0.3034
72,2021/07/10 08:59,1413780000000000000,@SHEIN_official I'm from Lesotho ðŸ‡±ðŸ‡¸which bank can I use to pay? FNB or standard bank,0,"{'neg': 0.097, 'neu': 0.903, 'pos': 0.0, 'compound': -0.1027}",-0.1027